.sidebar_container {
    width: 250px;
    position: fixed;
    left: 0%;
    background-color: #c3b9f01f;
    height: calc(100vh - 48px);
    transition: all 500ms ease;
    top: 48px;
}

.hide-sidebar {
    left: -30%;
}

main {
    transition: all 500ms ease;
    padding-top: 48px;
}

.main-toggle {
    padding-left: 250px;
}

.sidebar_container li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 18px;
    display: block;
}

.sidebar_container li {
    border-radius: 8px;
    margin: 5px 0px;
    font-size: 14px;
}

.sidebar_container li:hover {
    background-color: #aea8ca;
}

.sidebar_container .active_element {
    background-color: #aea8ca;
    font-weight: 500;
}