@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.signup-main {
    animation: fadeIn 1.5s;
    height: calc(100vh - 48px);
    padding: 10px 150px;
}
.signup-wrapper {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.signup-bg {
    background-image: url(../../Assets/signup.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
.signup-form {
    background-color: white;
}
.signup-title,
.form-label {
    color: #6c6b8b;
}
.btn-basic {
    background-color: #aea8ca;
    color: white;
}
.btn-basic:hover {
    background-color: #6c6b8b;
    color: white;
}
.input-field {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #aea8ca;
    border-radius: 5px;
}
.input-field:focus {
    outline: 1px solid #aea8ca;
}
.login-link {
    color: #6c6b8b;
}
.login-link:hover {
    color: #4f4e67;
}